*,*::before,*::after{
    margin:0;
    padding:0;
    box-sizing:border-box;
    // border: 1px solid red;
}

html{
    font-size:62.5%;
    scroll-behavior: smooth;
}

body{
    font-size: $font-body;
    font-family: $font-secondary;
    line-height: 1.2;
    overflow-x: hidden;
    
}
